<div class="admin-user-doc tab-pane" id="admin-user-doc">
    <h2 class="text-capitalize">User Document Manager</h2>
    <hr class="my-line">
    <div class="admin-user-doc">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Sattus</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>test</td>
                    <td>
                        <button type="button" class="btn btn-info">Active</button>
                        <button type="button" class="btn btn-secondary">Disabled</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">Edit</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>test</td>
                    <td>
                        <button type="button" class="btn btn-secondary">Active</button>
                        <button type="button" class="btn btn-warning">Disabled</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">Edit</button>
                    </td>
                </tr>
            </tbody>
          </table>
    </div>

    
    <div class="user-doc-details-num">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#" aria-current="page">1</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="#">2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"><i class="fa-solid fa-angle-right"></i></a>
            </li>
        </ul>
        
    </div>

</div>
