<div class="admin-user-manager tab-pane" id="admin-user-manager">
    <h2 class="text-capitalize">Document Management</h2>
    <hr class="my-line">

  
    <div class="admin-user-details">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Contribution ID</th>
                <th scope="col">Student ID</th>
                <th scope="col">Content</th>
                <th scope="col">Status</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Type</th>



            


              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contributionData of paginatedContribution">
                    <th scope="row">{{ contributionData.contributionID }}</th>
                    <td>{{ contributionData.studentID}}</td>
                    <td>{{ contributionData.content}}</td>
                    <td>{{ getStatusText(contributionData.status)}}</td>
                    <td>{{ contributionData.title}}</td>
                    <td>{{ contributionData.description}}</td>
                    <td>{{ contributionData.type}}</td>





                    

                    
                </tr>
            
            </tbody>
          </table>
    </div>

    
    <div class="user-doc-details-num">
        <ul class="nav justify-content-center">
            <li class="nav-item" *ngFor="let page of getPageNumbers()">
              <a class="nav-link" (click)="setCurrentPage(page)">{{ page }}</a>
            </li>
            <li class="nav-item" *ngIf="hasNextPage()">
              <a class="nav-link"><i class="fa-solid fa-angle-right"></i></a>
            </li>
          </ul>
        
    </div>

</div>
