<div class="admin-user-manager tab-pane" id="admin-user-manager">
    <h2 class="text-capitalize">User Management</h2>
    <hr class="my-line">
    <button type="button" class="btn btn-success text-capitalize " (click)="openForm()" >Create new user</button>

    <!-- User creation form -->
  <div *ngIf="isFormVisible">
    <h3>Create User</h3>
    <!-- Add form fields and validation here -->
    <form [formGroup]="form">
        <div class="mt-2">
            <label>Login name</label><span> * </span>
            <input type="text" class="form-control" formControlName="loginName" />
        </div>
    
        <div class="mt-2">
            <label>Full Name</label><span> * </span>
            <input type="text" class="form-control" formControlName="fullName" />
        </div>
    
        <div class="mt-2">
            <label>Status</label><span> *</span>
            <select class="form-control" formControlName="status">
              <option value="true">Active</option>
              <option value="false">Disabled</option>
            </select>
          </div>

        <div class="mt-2">
            <label>Password</label><span>*</span>
            <input type="text" class="form-control" formControlName="password"/>

        </div>

        <div class="mt-2">
            <label>Role</label><span> *</span>
            <select class="form-control" formControlName="role">
              <option value="0">Admin</option>
              <option value="1">Student</option>
              <option value="2">Coordinator</option>
              <option value="3">Marketing</option>
            </select>
          </div>

          <div class="mt-2">
            <label>Faculty</label><span> *</span>
            <select class="form-control" formControlName="facultyID">
              <option *ngFor="let faculties of faculty" [value]="faculties.facultyID">{{ faculties.facultyID }}</option>
            </select>
          </div>

        <button type="submit" class="btn btn-primary" (click)="Save()">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="closeForm()">Cancel</button>
    </form>
  </div>
  <div *ngIf="isEditFormVisible">
    <h3>Edit User</h3>
    <!-- Add form fields and validation here -->
    <form [formGroup]="form">
        <div class="mt-2">
            <label>Login name</label><span> * </span>
            <input type="text" class="form-control" formControlName="loginName" />
        </div>
    
        <div class="mt-2">
            <label>Full Name</label><span> * </span>
            <input type="text" class="form-control" formControlName="fullName" />
        </div>
    
        <div class="mt-2">
            <label>Status</label><span> *</span>
            <select class="form-control" formControlName="status">
              <option value="true">Active</option>
              <option value="false">Disabled</option>
            </select>
          </div>

        <div class="mt-2">
            <label>Password</label><span>*</span>
            <input type="text" class="form-control" formControlName="password"/>

        </div>

        <div class="mt-2">
            <label>Role</label><span> *</span>
            <select class="form-control" formControlName="role">
              <option value="0">Admin</option>
              <option value="1">Student</option>
              <option value="2">Coordinator</option>
              <option value="3">Marketing</option>
            </select>
          </div>

          <div class="mt-2">
            <label>Faculty</label><span> *</span>
            <select class="form-control" formControlName="facultyID">
              <option *ngFor="let faculties of faculty" [value]="faculties.facultyID">{{ faculties.facultyID }}</option>
            </select>
          </div>

        <button type="submit" class="btn btn-primary" (click)="SaveEdit()">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="closeForm()">Cancel</button>
    </form>
  </div>
    <div class="admin-user-details">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Login Name</th>
                <th scope="col">Full Name</th>
                <th scope="col">Password</th>
                <th scope="col">Role</th>
                <th scope="col">Faculty ID</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>


              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userData of paginatedUsers">
                    <th scope="row">{{ userData.loginName }}</th>
                    <td>{{ userData.fullName}}</td>
                    <td>{{ userData.password }}</td>
                    <td>{{ getRoleText(userData.role)}}</td>
                    <td>{{ userData.facultyID }}</td>

                    <td>
                        <button *ngIf="userData.status === true" type="button" class="btn btn-info"
                                (click)="updateUserStatus(userData)">Active</button>
                        <button *ngIf="userData.status === false" type="button" class="btn btn-secondary"
                                (click)="updateUserStatus(userData)">Disabled</button>
                        
                      </td>
                    <td>
                      <button type="button" class="btn btn-danger" (click)="editUser(userData)">Edit</button>
                    </td>
                  </tr>
            
            </tbody>
          </table>
    </div>

    
    <div class="user-doc-details-num">
        <ul class="nav justify-content-center">
            <li class="nav-item" *ngFor="let page of getPageNumbers()">
              <a class="nav-link" (click)="setCurrentPage(page)">{{ page }}</a>
            </li>
            <li class="nav-item" *ngIf="hasNextPage()">
              <a class="nav-link"><i class="fa-solid fa-angle-right"></i></a>
            </li>
          </ul>
        
    </div>

</div>
