<div class=" admin-dashboard tab-pane active" id="admin-dashboard">
    <h2 class="text-capitalize">Admin Dashboard</h2>

    <hr class="my-line">
    
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Tổng số đóng góp theo từng Khoa trong năm hiện tại ( Bar chart)</h6>
                        <a href="">Show All</a>
                    </div>
                    <canvas id="worldwide-sales"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Tỉ lệ đóng góp của từng khoa trong năm hiện tại ( Pie chart)</h6>
                        <a href="">Show All</a>
                    </div>
                    <canvas id="salse-revenue"></canvas>
                </div>
            </div>
        </div>
    </div>




</div>
