@import '../../styles.scss';



.banner {

    // position: relative;
    img {
        // height: 35.729vw;
    }

    background-image: url("/assets/Image/bgn.png");
    background-size: cover;
    padding: 245px 0;

    .bn-title {
        padding-left: 300px;

        p {
            color: $text-gray;
            font-size: 1.25vw;
            padding-bottom: 3.125vh;

        }

        h1 {
            font-size: 3.333vw;
            color: $text-white;
            padding-bottom: 2.125vh;
        }

        button {
            @include btn;
            padding: 0.833vh 1.042vw;
            color: $text-white;
            font-size: 1.354vw;

        }
    }
}

.company-collab{
    h2{
        text-align: center;
        margin-top: 125px;
        margin-bottom: 40px;
    }
    ul{
        li{
            padding-right: 30px;
            a{
                font-size: 60px;
                i{

                }
            }
        }
    }
}


.popular-post{
    margin-top: 125px;
    img{
        
    }
    .pp-content{
        margin-bottom: 30px;
        padding: 0 15%;
        a{
            @include btn-nonact;
            font-size: 24px;
            font-weight: 700;
            border-radius: 50px;
            padding: 14px 15px;
            border: 1px solid $bgn;
            margin-right: 20px;
            margin-top: 20px;
        }
    }
    .pp-post{
        
    }
}

.university{
    margin-top: 135px;
    margin-bottom: 135px;
    .uni-content{
        a{
            @include btn-nonact;
            font-size: 20px;
            font-weight: 400;
            border-radius: 50px;
            padding: 14px 15px;
            border: 1px solid $bgn;
            margin-right: 20px;
            margin-top: 40px;

        }

    }
}

.blog {
    margin-top: 100px;

    #blog-slider-slick {

        .slick-prev,
        .slick-next {
            display: none !important;
        }
    }

    h2 {
        font-weight: 700;
        margin-bottom: 30px;
    }

    .blog-item {
        padding: 0 10px;

        a {
            .blog-detail {
                margin-top: 10px;

                p {
                    font-size: 14px;

                    color: $text-gray;
                }

                h4 {
                    @include text-hovering;
                    font-size: 24px;

                    font-weight: 700;
                    margin: 10px 0 7px 0;
                }
            }
        }
    }
}

@media screen and (max-width: $desktop) {

    .banner {
        padding: 180px;

        .bn-title {
            padding-left: 60px;
        }
    }
}

@media screen and (max-width: $laptop) {
    .banner {
        padding: 100px;

        .bn-title {
            padding-left: 18px;

            p {
                font-size: 1.85vw;

            }

            h1 {
                // font-size: 4.8vw;
                font-weight: bold
            }

            button {
                @include btn;
                padding: 0.833vh 1.042vw;
                color: $text-white;
                font-size: 2.354vw;

            }
        }

    }
}

@media screen and (max-width: $table) {
    .banner {
        padding: 80px;

        .bn-title {
            padding-left: 10px;

            p {
                // font-size: 3.25vw;

            }

            h1 {
                // font-size: 6.333vw;
                font-weight: bold
            }

            button {
                @include btn;
                padding: 0.833vh 1.042vw;
                color: $text-white;
                // font-size: 3.354vw;

            }
        }

    }


}


@media screen and (max-width: $mobile) {
    .review-right {
        display: none !important;
    }


    .banner {
        padding: 100px;

        .bn-title {
            padding-left: 1px;
            padding-top: d75px;

            p {
                font-size: 4.25vw !important;

            }

            h1 {
                font-size: 7.333vw !important;
                font-weight: bold
            }

            button {
                @include btn;
                padding: 0.833vh 1.542vw !important;
                color: $text-white;
                font-size: 3.7vw !important;

            }
        }

    }

}