<app-header></app-header>

<div class="container user-infor-page">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 sidebar-user-infor ">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 user-information">
            <div class="tab-content">
                <div class="user-infor tab-pane " id="user-doc-up">
                    <h2 class="text-capitalize">Documents</h2>
                    <hr class="my-line">
                    <div class="user-doc-details">
                        <div class="user-doc-infor">
                            <h4><a href="">Title 1</a></h4>
                            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur. Feugiat et pharetra mi magna in sed morbi tortor. Consequat quis enim eget aliquet. Fusce cursus semper lobortis fermentum faucibus vel. Et blandit ut quam auctor purus lectus integer convallis.</p>
                            
                        </div>
                        <div class="user-doc-infor">
                            <h4><a href="">Title 2</a></h4>
                            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur. Feugiat et pharetra mi magna in sed morbi tortor. Consequat quis enim eget aliquet. Fusce cursus semper lobortis fermentum faucibus vel. Et blandit ut quam auctor purus lectus integer convallis.</p>
                            
                        </div>
                        <div class="user-doc-infor">
                            <h4><a href="">Title 3</a></h4>
                            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur. Feugiat et pharetra mi magna in sed morbi tortor. Consequat quis enim eget aliquet. Fusce cursus semper lobortis fermentum faucibus vel. Et blandit ut quam auctor purus lectus integer convallis.</p>
                            
                        </div>
                        <div class="user-doc-infor">
                            <h4><a href="">Title 4</a></h4>
                            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur. Feugiat et pharetra mi magna in sed morbi tortor. Consequat quis enim eget aliquet. Fusce cursus semper lobortis fermentum faucibus vel. Et blandit ut quam auctor purus lectus integer convallis.</p>
                            
                        </div>
                        <div class="user-doc-infor">
                            <h4><a href="">Title 5</a></h4>
                            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur. Feugiat et pharetra mi magna in sed morbi tortor. Consequat quis enim eget aliquet. Fusce cursus semper lobortis fermentum faucibus vel. Et blandit ut quam auctor purus lectus integer convallis.</p>
                            
                        </div>


                    </div>

                    
                    <div class="user-doc-details-num">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link active" href="#" aria-current="page">1</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">3</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#"><i class="fa-solid fa-angle-right"></i></a>
                            </li>
                        </ul>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>