<div class="user-infor tab-pane" id="user-doc-up">
  <h2 class="text-capitalize">Documents</h2>
  <hr class="my-line">
  <div class="user-doc-details">
    <div class="user-doc-infor" *ngFor="let item of contribution">
      <ng-container *ngIf="user.role === 2 || (user.role === 1 && item.status === 3) || user.role === 3">
        <h4><a (click)="viewContribution(item.contributionID)">{{ item.title }}</a></h4>
        <p class="text-truncate">{{ item.description }}</p>
        <div class="text-truncate">
          <h4 class="text-break"><a (click)="viewContribution(item.contributionID)"></a></h4>
        </div>
        <div class="status" [ngSwitch]="item.status">
          <div class="status-unpublic" *ngSwitchCase="0">
            <p class="text-white text-capitalize">Unpublic</p>
          </div>
          <div class="status-updated" *ngSwitchCase="1">
            <p class="text-white text-capitalize">Updated</p>
          </div>
          <div class="status-public" *ngSwitchCase="2">
            <p class="text-white text-capitalize">Public</p>
          </div>
          <div class="status-approved" *ngSwitchCase="3">
            <p class="text-white text-capitalize">Approved By Coordinator</p>
          </div>
        </div>
        <div class="user-doc-btn" *ngIf="user.role === 2">
          <button type="button" class="btn btn-info" *ngIf="item.status !== 2" (click)="confirmApprove(item)">
            Approve
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>