<div class="user-infor tab-pane " id="user-doc-up">
    <h2 class="text-capitalize">Documents</h2>
    <hr class="my-line">
    <div class="user-doc-details">
        <div class="user-doc-infor">
            <h4><a href="">Title 1</a></h4>
            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur. Feugiat et pharetra mi magna in sed morbi tortor. Consequat quis enim eget aliquet. Fusce cursus semper lobortis fermentum faucibus vel. Et blandit ut quam auctor purus lectus integer convallis.</p>
            
        </div>
        <div class="user-doc-infor">
            <h4><a href="">Title 2</a></h4>
            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur. Feugiat et pharetra mi magna in sed morbi tortor. Consequat quis enim eget aliquet. Fusce cursus semper lobortis fermentum faucibus vel. Et blandit ut quam auctor purus lectus integer convallis.</p>
            
        </div>
        <div class="user-doc-infor">
            <h4><a href="">Title 3</a></h4>
            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur. Feugiat et pharetra mi magna in sed morbi tortor. Consequat quis enim eget aliquet. Fusce cursus semper lobortis fermentum faucibus vel. Et blandit ut quam auctor purus lectus integer convallis.</p>
            
        </div>
        <div class="user-doc-infor">
            <h4><a href="">Title 4</a></h4>
            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur. Feugiat et pharetra mi magna in sed morbi tortor. Consequat quis enim eget aliquet. Fusce cursus semper lobortis fermentum faucibus vel. Et blandit ut quam auctor purus lectus integer convallis.</p>
            
        </div>
        <div class="user-doc-infor">
            <h4><a href="">Title 5</a></h4>
            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur. Feugiat et pharetra mi magna in sed morbi tortor. Consequat quis enim eget aliquet. Fusce cursus semper lobortis fermentum faucibus vel. Et blandit ut quam auctor purus lectus integer convallis.</p>
            
        </div>


    </div>

    

</div>
