<div class=" admin-dashboard tab-pane active" id="admin-dashboard">
    <h2 class="text-capitalize">Dashboard</h2>

    <hr class="my-line">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 dashboard">
                <div class="bg-white rounded p-4">
                    <div class="d-flex align-items-center justify-content-between">
                        <h6 class="">Tổng số đóng góp theo từng Khoa trong năm hiện tại ( Bar chart)</h6>
                    </div>
                    <canvas id="worldwide-sales"></canvas>
                </div>
            </div>
            <div class="col-12 dashboard">
                <div class="bg-white rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="">Tỉ lệ đóng góp của từng khoa trong năm hiện tại ( Pie chart)</h6>
                    </div>
                    <canvas id="salse-revenue"></canvas>
                </div>
            </div>
        </div>
    </div>




</div>
