@import '../../../styles.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.login{
	background: $text-white;
	margin-top: 50px;
	border: 1px solid $text-black !important;
	border-radius: 10px;
	h2{
		margin: 20px 0 ;
	}
	.btn-zone{
		button{
			border: 1px solid $text-black !important;
			margin: 10px;
		}
		#btn-cancel{
			@include blog-btn-nonact;
		}
		#btn-confirm{
			color: $text-white;
			@include btn-confirm;
		}
	}
}
main{
	margin-bottom: 50px;
}
