<app-header></app-header>
<main>
    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-xl-1 col-md-1"></div>
          <div class="col-lg-9 col-xl-9 col-md-12 col-12 login">
            <h2 class="text-center">Login</h2>
            <div class="mb-3">
              <label for="loginName" class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="loginName" id="loginName"  placeholder="Please enter your Login Name" />
              <small id="emailHelpId" class="form-text text-muted">Help text</small>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="password" id="password" placeholder="" />
            </div>
  
            <div class="btn-zone text-center">
              <button type="button" class="btn" id="btn-cancel">Cancel</button>
              <button type="submit" class="btn" id="btn-confirm">
                Submit
              </button>
            </div>
  
          </div>
        </div>
      </div>
    </form>
  </main>
<app-footer></app-footer>
