<app-header-admin></app-header-admin>

<div class="card">
    <div class="card-header">
        <div class="col col-md-4">
            <h5 class="card-title">
                {{ 'Falcuty'}}
            </h5>
        </div>
    </div>
    <div class="card-body">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            

            <ng-container matColumnDef="facultyID">
                <th mat-header-cell *matHeaderCellDef>{{'Falcuty Id'}}</th>
                <td mat-cell *matCellDef="let row">{{row.facultyID}}</td>
            </ng-container>

            <ng-container matColumnDef="facultyName">
              <th mat-header-cell *matHeaderCellDef>{{'Falcuty Name'}}</th>
              <td mat-cell *matCellDef="let row">{{row.facultyName}}</td>
            </ng-container>
          

           

            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

        </table>
    </div>
</div>