@import '../../../../styles.scss';



.user-submit-form{
    margin-top: 40px;
    label{
        color: $text-black;
        font-weight: 600;
    }
    .file-review{
        iframe{
            height: 560px;
            background: #D9D9D9;
            
        }
    }
}