<app-header></app-header>


<form [formGroup]="formGroup" action="" enctype="multipart/form-data">
    <div class="user-submit-form">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="" class="form-label">Contents</label>
                        <input type="text" name="" id="" class="form-control" placeholder="content" formControlName="content"  />
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Titles</label>
                        <input type="text" name="" id="" class="form-control" placeholder="title" formControlName="title" />
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Description:</label>
                        <textarea class="form-control" formControlName="description"  rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Upload File:</label>
                        <input
                            type="file"
                            class="form-control"
                            name=""
                            (change)="onFileChange($event)" formControlName="type"
                            placeholder=""
                           
                        />
                    </div>
                    <button type="button" class="btn btn-primary">
                        Cancel
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        (click)="submitForm()"
                    >
                        Submit
                    </button>
                    
                </div>
            </div>
            <div class="col-12">
            </div>
        </div>
    </div>
</form>
