@import '../../../../styles.scss';


.user-infor-page{
    margin-top: 50px;
    .my-line {
        /* Adjust these properties for customization */
        border: 1px solid $text-gray; /* Change color and thickness */
        margin-top: 30px; /* Add some margin for spacing */
    }

    .sidebar-user-infor{
        .user-infor{
            img{
                height: 90px;
                border-radius: 100%;
            }
        }
        .user-option{
            ul{
                border-bottom: none !important;
                li{
                    a{
                        margin-top: 10px;
                        i{
                            padding-right: 10px;
                            font-weight: 600;
                        }
                    }
                    .active{
                        background: none ;
                        border: none;
                        font-weight: 600;
                    }

                }
            }
        }
    }

    
    .user-information{
        border-radius: 10px;
        border: 1px solid #000;
        background: $text-white;
        padding: 32px 42px;

        .user-infor{
            h2{
                a{
                    font-size: 16px;
                    color: $text-gray !important;
                    margin-left: 10px;
                    @include text-hovering;

                }
            }
            

            .user-doc-details{
                .user-doc-infor{
                    margin-top: 30px;
                    h4{
                        a{
                            @include text-hovering;
                        }
                    }
                    p{
                        color: $text-gray;
                        padding-right: 50px;
                    }
                    &:nth-child(n + 6){
                        display: none !important;
                    }
                }
            
            }
            .user-doc-details-num{
                margin-top: 20px;
                .nav-link.active{
                    @include blog-btn;
                    color: $text-white !important;
                }
                .nav-link.disabled{
                    display: none !important;
                }
                ul{
                    li{
                        margin: 0 5px;
                        @include blog-btn-nonact;
                        a{
                            width: 43px;
                            border: 1px solid $text-gray;
                            border-radius: 0;
                            height: 42px;
                            font-weight: 600;
                        }
                    }
                }
            }

        }
    }



}