<div class="user-infor tab-pane active" id="user-infor">
    <h2 class="text-capitalize">User information <a href="">edit</a></h2>

    <hr class="my-line">
    <div class="user-details">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <p class="">
                        <span class="text-capitalize">user name:</span>
                        <span class="text-capitalize  text-end">aasdasd</span>
                    </p>
                    <p class="">
                        <span class="text-capitalize">email:</span>
                        <span class="text-capitalize text-end">aasdasd</span>
                    </p>
                    <p class="">
                        <span class="text-capitalize">phone numbers:</span>
                        <span class="text-capitalize text-end">test</span>
                    </p>
                    <p class="">
                        <span class="text-capitalize">Date of birth:</span>
                        <span class="text-capitalize  text-end">test</span>
                    </p>
                    <p class="">
                        <span class="text-capitalize">Faculty:</span>
                        <span class="text-capitalize  text-end">test</span>
                    </p>

                </div>
                <div class="col-6">
                    <p>Avatar:</p>
                   
                </div>

            </div>
        </div>
    </div>
    
    
</div>
