<app-header></app-header>








<main>
    <!-- TODO: Hình ở respónive chưa hợp lý tỷ lệ -->
    <div class="banner">
        <div class="bn-title">
            <h1>Up To 50% Off<br>First Order</h1>
            <p class="text-capitalize">summer seasone offer</p>
            <button class="text-capitalize">Learn More</button>
        </div>
    </div>
    <div class="company-collab">
        <div class="container">
            <div class="row">
                <h2 class="">Collab with over 15.000 company and university</h2>
                <ul class="nav justify-content-center  ">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-brands fa-discord"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-brands fa-twitch"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-brands fa-paypal"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-brands fa-stack-overflow"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-brands fa-apple"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-brands fa-shopify"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    
    <div class="popular-post">
        <div class="container">
            <div class="row">
                <h2 class="text-capitalize text-center">popular post</h2>
                <div class="col-xl-4 col-lg-4 col-md-4 col-12 pp-post pp-design">
                    <img src="assets/Image/Design.png" class="w-100" alt="">
                    <div class="pp-content">
                        <a href="">Ui - Ux</a>
                        <a href="">Designer</a>
                        <a href="">Web-Designer</a>
                        <a href="">Mobile-Designer</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 pp-post pp-it">
                    <img src="assets/Image/IT.png" class="w-100" alt="">
                    <div class="pp-content">
                        <a href="">OOP</a>
                        <a href="">Tester</a>
                        <a href="">Web-Development</a>
                        <a href="">Mobile-Development</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 pp-post pp-IoT">
                    <img src="assets/Image/IoT.png" class="w-100" alt="">
                    <div class="pp-content">
                        <a href="">Ui - Ux</a>
                        <a href="">Designer</a>
                        <a href="">Web-Designer</a>
                        <a href="">Mobile-Designer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="university">
        <div class="container">
            <div class="row justify-content-center">
                <h2 class="text-capitalize text-center">Only the best for the best</h2>
                <p class="text-center">Find the best study documents to ace your way through education.</p>
                <div class="col-12 uni-content">
                    <a href="">International University - VNU-HCM</a>
                    <a href="">Trường Cao đẳng Thực hành FPT</a>
                    <a href="">Trường Cao đẳng Thực hành FPT</a>
                    <a href="">Trường Đại học Kinh tế - Tài chính Thành phố Hồ Chí Minh</a>
                    <a href="">Trường Đại học Kinh tế - Tài chính Thành phố Hồ Chí Minh</a>
                    <a href="">Trường Đại học Kinh tế - Tài chính Thành phố Hồ Chí Minh</a>
                </div>

            </div>
        </div>
    </div>

</main>
<app-footer></app-footer>
