<app-header-admin></app-header-admin>

<div class="card">
    <div class="card-header">
        <div class="col col-md-4">
            <h5 class="card-title">
                {{ 'Student Management'}}
            </h5>
            <div class="d-flex" role="search">
                <button class="btn btn-outline-success" (click)="CreateStudent()" >Add</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table mat-table [dataSource]="dataSourse" class="mat-elevation-z8">

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button [matMenuTriggerFor]="actionMenu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #actionMenu="matMenu">

                    <button mat-menu-item type="close"> Close</button>
                  </mat-menu>
                </td>
              </ng-container>

            <ng-container matColumnDef="studentID">
                <th mat-header-cell *matHeaderCellDef>{{'Student Id'}}</th>
                <td mat-cell *matCellDef="let row">{{row.studentID}}</td>
            </ng-container>

            <ng-container matColumnDef="studentName">
                <th mat-header-cell *matHeaderCellDef>{{'Student Name'}}</th>
                <td mat-cell *matCellDef="let row">{{row.studentName}}</td>
            </ng-container>

            <ng-container matColumnDef="dateOfBirth">
                <th mat-header-cell *matHeaderCellDef>{{'Date Of Birth'}}</th>
                <td mat-cell *matCellDef="let row">{{row.dateOfBirth}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>{{'Email'}}</th>
                <td mat-cell *matCellDef="let row">{{row.email}}</td>
            </ng-container>

            <ng-container matColumnDef="phones">
                <th mat-header-cell *matHeaderCellDef>{{'Phone number'}}</th>
                <td mat-cell *matCellDef="let row">{{row.phones}}</td>
            </ng-container>

            <ng-container matColumnDef="facultyID">
                <th mat-header-cell *matHeaderCellDef>{{'Faculty Id'}}</th>
                <td mat-cell *matCellDef="let row">{{row.facultyID}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

        </table>
    </div>
</div>